<div class="content-container" *ngIf="resort">
  <div class="resort-name">
    {{resort.resort_name}}
  </div>
  <div class="sub-container">
    <div class="row">
      <div class="resort-location col-md-4">
        <div class="subtitle">
          Location
          <i class="fas fa-map-marker-alt"></i>
        </div>
        {{resort.location}}
      </div>
      <div class="country col-md-4">
        <div class="subtitle">
          Region
          <i class="fas fa-globe"></i>
        </div>
        {{resort.region}}
      </div>
      <div class="season col-md-4">
        <div class="subtitle">
          Season Date
          <i class="far fa-calendar-alt"></i>
        </div>
        {{resort.season_open}} - {{resort.season_close}}
      </div>
    </div>
    <div class="row">
      <div class="vert col-md-4">
        <div class="subtitle">
          Vertical Drop
          <i class="fas fa-arrow-down"></i>
        </div>
        {{resort.vertical_drop}} ft
      </div>
      <div class="area col-md-4">
        <div class="subtitle">
          Area
          <span class="k-icon k-i-arrows-dimensions"></span>
        </div>
        {{resort.skiable_terrain}} Acres
      </div>
      <div class="park col-md-4">
        <div class="subtitle">
          Terrain Parks
        </div>
        {{resort.terrain_parks ? resort.terrain_parks : "N/A"}}
      </div>
    </div>
    <div class="row">
      <div class="price col-md-4">
        <div class="subtitle">
          Lift Ticket
          <i class="fas fa-dollar-sign"></i>
        </div>
        {{resort.lift_tickets ? '$' + resort.lift_tickets : "N/A"}}
        <div *ngIf="resort.lift_tickets && ticketPriceCostBasis > 0">
          ${{ticketPriceCostBasis}} more than average
        </div>
        <div *ngIf="resort.lift_tickets && ticketPriceCostBasis < 0">
          ${{ticketPriceCostBasis*-1}} less than average
        </div>
        <div *ngIf="resort.lift_tickets && ticketPriceCostBasis == 0">
          Average Lift Ticket Price
        </div>
      </div>
      <div class="snowfall col-md-4">
        <div class="subtitle">
          Average Snowfall
          <i class="far fa-snowflake"></i>
        </div>
        {{resort.avg_snowfall}} Inches
      </div>
      <div class="night col-md-4">
        <div class="subtitle">
          Night Skiing
          <i class="far fa-moon"></i>
        </div>
        {{resort.night_skiing ? resort.night_skiing + 'Acres' : "N/A"}}
      </div>
    </div>
  </div>
  <div class="map-container row">
    <div class="maps col-md-7">
      <iframe width="100%" height="100%" frameborder="0" style="border:0" [src]="mapContent" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 map-data" *ngIf="distanceData && distanceData.distance">
      <div class="distance">
        <div class="subtitle">
          Distance
          <i class="fas fa-road"></i>
        </div>
        {{distanceData.distance.text}} from {{((startingLocation | async) || "New York City") | titlecase}}
      </div>
      <div class="duration">
        <div class="subtitle">
          Driving Time
          <i class="fas fa-car"></i>
        </div>
        {{distanceData.duration.text}}
      </div>
      <div class="nearby-town" *ngIf="locality">
        <div class="subtitle">
          Closest Town
          <i class="far fa-building"></i>
        </div>
        {{locality.long_name}}
      </div>
      <div class="restaurants">
        <div class="subtitle">
          Nearby Restaurants
          <i class="fas fa-utensils restaurants-icon"></i>
          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="restaurantCollapse = !restaurantCollapse" [attr.aria-expanded]="!restaurantCollapse"
            aria-controls="restaurant-collapse">
            {{restaurantCollapse ? "Hide" : "Show"}}
          </button>
        </div>
        <div id="restaurant-collapse" [ngbCollapse]="!restaurantCollapse">
          <div *ngFor="let restaurant of nearbyRestaurants">
            <div class="restaurant-data">
              <div class="restaurant-name" [ngbTooltip]="restaurant.formatted_address">
                {{restaurant.name}}
              </div>
              <div>
                <ng-template #star let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">
                      <i class="far fa-star"></i>
                    </span>
                    <i class="far fa-star"></i>
                  </span>
                </ng-template>
                <ngb-rating [(rate)]="restaurant.rating" [starTemplate]="star" [readonly]="true" max="5"></ngb-rating>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hotels">
        <div class="subtitle">
          Nearby Hotels
          <i class="fas fa-hotel hotel-icon"></i>
          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="hotelCollapse = !hotelCollapse" [attr.aria-expanded]="!hotelCollapse"
            aria-controls="hotel-collapse">
            {{hotelCollapse ? "Hide" : "Show"}}
          </button>
        </div>
        <div id="hotel-collapse" [ngbCollapse]="!hotelCollapse">
          <div *ngFor="let hotel of nearbyHotels">
            <div class="hotel-data">
              <div class="hotel-name" [ngbTooltip]="hotel.vicinity">
                {{hotel.name}}
              </div>
              <div>
                <ng-template #star let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">
                      <i class="far fa-star"></i>
                    </span>
                    <i class="far fa-star"></i>
                  </span>
                </ng-template>
                <ngb-rating [(rate)]="hotel.rating" [starTemplate]="star" [readonly]="true" max="5"></ngb-rating>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>