.content-container {
    display: flex;
    flex-direction: column;
}

.resort-name {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.sub-container {
    margin-left: 25px;
    margin-right: 25px;
}

.subtitle {
    color: rgb(160, 160, 160)
}

.col-md-4 {
    text-align: center;
}

.row {
    padding-top: 20px;
}

.maps {
    margin: 15px;
    height: 450px;
}

.distance {
    text-align: left;
    padding-bottom: 5px;
}

.duration {
    text-align: left;
    padding-bottom: 5px;
}

.restaurants {
    text-align: left;
    padding-bottom: 5px;
}

.restaurant-data {
    border-top: 1px solid #e7e7e7;
    padding-top: 3px;
    padding-bottom: 3px;
}