.content-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 56px);
}

.resort-name {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.sub-container {
    margin-left: 25px;
    margin-right: 25px;
}

.subtitle {
    color: rgb(160, 160, 160)
}

.col-md-4 {
    text-align: center;
}

.row {
    padding-top: 20px;
}

.maps {
    margin: 15px;
    height: 450px;
}

.map-data > div {
    text-align: left;
    padding-bottom: 5px;
}

.map-container {
    margin-left: 0px;
    margin-right: 0px;
}