<div class="content-container" *ngIf="resort">
  <div class="resort-name">
    {{resort.resort_name}}
  </div>
  <div class="sub-container">
    <div class="row">
      <div class="vert col-md-4">
        <div class="subtitle">
          Vertical Drop
          <i class="fas fa-arrow-down"></i>
        </div>
        {{resort.vertical_drop}} ft
      </div>
      <div class="area col-md-4">
        <div class="subtitle">
          Area
          <span class="k-icon k-i-arrows-dimensions"></span>
        </div>
        {{resort.skiable_terrain}} Acres
      </div>
      <div class="park col-md-4">
        <div class="subtitle">
          Terrain Parks
        </div>
        {{resort.terrain_parks || "N/A"}}
      </div>
    </div>
    <div class="row">
      <div class="price col-md-4">
        <div class="subtitle">
          Lift Ticket
          <i class="fas fa-dollar-sign"></i>
        </div>
        {{resort.lift_tickets ? '$' + resort.lift_tickets : "N/A"}}
        <div *ngIf="resort.lift_tickets && ticketPriceCostBasis > 0">
          ${{ticketPriceCostBasis}} more than average
        </div>
        <div *ngIf="resort.lift_tickets && ticketPriceCostBasis < 0">
          ${{ticketPriceCostBasis*-1}} less than average
        </div>
        <div *ngIf="resort.lift_tickets && ticketPriceCostBasis == 0">
          Average Lift Ticket Price
        </div>
      </div>
      <div class="snowfall col-md-4">
        <div class="subtitle">
          Average Snowfall
          <i class="far fa-snowflake"></i>
        </div>
        {{resort.avg_snowfall ? resort.avg_snowfall + " Inches" : "N/A"}}
      </div>
      <div class="night col-md-4">
        <div class="subtitle">
          Night Skiing
          <i class="far fa-moon"></i>
        </div>
        {{resort.night_skiing ? resort.night_skiing + " Acres" : "N/A"}}
      </div>
    </div>
    <div class="row">
      <div class="distance col-md-4" *ngIf="distanceData && distanceData.distance">
        <div class="subtitle">
          Distance
          <i class="fas fa-road"></i>
        </div>
        {{distanceData.distance.text}} from {{((startingLocation | async) || "New York City") | titlecase}}
      </div>
      <div class="duration  col-md-4" *ngIf="distanceData && distanceData.distance">
        <div class="subtitle">
          Driving Time
          <i class="fas fa-car"></i>
        </div>
        {{distanceData.duration.text}}
      </div>
      <div class="nearby-town  col-md-4" *ngIf="locality">
        <div class="subtitle">
          Closest Town
          <i class="far fa-building"></i>
        </div>
        {{locality.long_name}}
      </div>
    </div>
  </div>
  <div class="map-container">
    <div class="col-md-12 map-data">
      <kendo-tabstrip>
        <kendo-tabstrip-tab [title]="'Map'" [selected]="true">
          <ng-template kendoTabContent>
            <iframe width="100%" height="100%" frameborder="0" style="border:0" [src]="mapContent" allowfullscreen id="google-maps"></iframe>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Restaurants'" [selected]="false">
          <ng-template kendoTabContent>
            <nearby-establishments location="{{this.resort.resort_name}} {{this.resort.location}}" category="Restaurants"></nearby-establishments>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Hotels'" [selected]="false">
          <ng-template kendoTabContent>
            <nearby-establishments location="{{this.resort.resort_name}} {{this.resort.location}}" category="Hotels"></nearby-establishments>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Ski Shops'" [selected]="false">
          <ng-template kendoTabContent>
            <nearby-establishments location="{{this.resort.resort_name}} {{this.resort.location}}" category="Ski Shops"></nearby-establishments>
          </ng-template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>