.resort-header {
    padding: 12px 0px;
    padding-left: 13px;
    padding-right: 17px;
    background-color: #c4ddf7;
    display: flex;
    flex-direction: row;
    height: 40px;
    position: sticky;
    top: 52px;
}

.resort-header > div {
    font-size: 1rem;
    font-weight: 500;
    user-select: none;
}

.name {
    flex: 5 5 0%;
}

.trails, .lifts, .terrain {
    flex: 1 1 0%;
}

.vertical {
    flex: 1.5 1.5 0%;
}

.trails:hover, .lifts:hover, .terrain:hover, .vertical:hover {
    cursor: pointer;
}