<div class="establishment">
  <span class="yelp-navigate" (click)="navigateToYelp('https://www.yelp.com')">
    <i class="fab fa-yelp"></i> Yelp Listings
  </span>
  <div *ngFor="let establishment of localEstablishments">
    <div class="establishment-data">
      <div class="establishment-name" [ngbTooltip]="establishment.location.display_address.toString()" (click)="navigateToYelp(establishment.url)">
        {{establishment.name}} {{establishment.price}}
      </div>
      <img src="../../../../assets/yelp/regular_{{establishment.rating}}.png" ngbTooltip="{{establishment.review_count}} Reviews">
    </div>
  </div>
</div>