.fa-yelp {
    color: #d32323;
}

.yelp-navigate {
    cursor: pointer;
}

.establishment {
    text-align: left;
}

.establishment-element {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #e7e7e7;
    padding-top: 3px;
    padding-bottom: 3px;
}

.establishment-img {
    flex: 1 1 0%;
    width: 90px;
    height: 90px;
    overflow: hidden;
    margin: 5px;
    border-radius: 7px;
}

.establishment-img > img {
    width: 100%;
}

.establishment-data {
    flex: 5 5 0%;
    cursor: pointer;
}

.subtitle {
    color: rgb(160, 160, 160)
}