.main-container {
    display: flex;
    flex-direction: row;
}

.info-sidebar {
    flex: 2 1 0%;
    margin: 10px;
    background-color: rgb(245, 245, 245);
    height: calc(100vh - 76px);
}

.resort-content {
    flex: 8 1 0%;
    margin: 10px;
    background-color: rgb(245, 245, 245);
    height: calc(100vh - 76px);
}