<div class="sidebar">
  <div id="sidebar">
    <h5 id="search">
      Search
    </h5>
  </div>
  <div class="resort-size">
    <h6 id="size">
      Resort Size
    </h6>
    <div class="btn-group-toggle">
      <label>
        <input type="checkbox" [(ngModel)]="resortSize.large"> Large
      </label>
    </div>
    <div class="btn-group-toggle">
      <label>
      <input type="checkbox" [(ngModel)]="resortSize.medium"> Medium
      </label>
    </div>
    <div class="btn-group-toggle">
      <label>
        <input type="checkbox" [(ngModel)]="resortSize.small"> Small
      </label>
    </div>
  </div>
  <div class="resort-size">
    <h6 id="size">
      Night
    </h6>
    <div class="btn-group-toggle">
      <label>
        <input type="checkbox" [(ngModel)]="areaFilters.night" (change)="nightPicker($event)"> Night Runs
      </label>
    </div>
  </div>
  <location-selector (locationEvent)="locationPicker($event)"></location-selector>
</div>