.sidebar {
    width: 100%;
    height: calc(100vh - 52px);
    padding: 0px 10px;
    position: sticky;
    overflow: overlay;
    top: 52px;
}

.search {
    padding: 10px 0px;
}

.search-input {
    padding: .25rem .5rem;
    font-size: .875rem;
}

agm-map {
    height: 500px;
    width: 500px;
}

.resort-name {
    text-align: center;
    font-size: 18px;
}

.resort-site {
    color: #007bff;
}

.resort-site:hover {
    cursor: pointer;
}

.map-exit {
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

#google-map {
    margin-bottom: 10px;
}