<div class="sidebar" [formGroup]="filterInputs">
  <div id="sidebar">
    <h5 id="filter">
      Filters
    </h5>
  </div>
  <div class="search">
    <h6>
      Search
    </h6>
    <input class="form-control" placeholder="Search" formControlName="searchValue" (keyup)="emitFilterData($event)" />
  </div>
  <div class="terrain-filters">
    <h6>
      Trails: {{filterInputs.get('trails').value}}
    </h6>
    <div class="slider">
      <kendo-slider [showButtons]="false" tickPlacement="none" [min]="1" [max]="347" formControlName="trails" (valueChange)="emitFilterData($event)"></kendo-slider>
    </div>
    <h6>
      Terrain: {{filterInputs.get('terrain').value}} Acres
    </h6>
    <div class="slider">
      <kendo-slider [showButtons]="false" tickPlacement="none" [min]="9" [max]="24710" formControlName="terrain" (valueChange)="emitFilterData($event)"></kendo-slider>
    </div>
    <h6>
      Vertical Drop: {{filterInputs.get('vertical').value}} Ft
    </h6>
    <div class="slider">
      <kendo-slider [showButtons]="false" tickPlacement="none" [min]="65" [max]="7477" formControlName="vertical" (valueChange)="emitFilterData($event)"></kendo-slider>
    </div>
    <h6 id="availability">
      Resort Availability
    </h6>
    <div class="btn-group-toggle">
      <label>
        <input type="checkbox" formControlName="night" (change)="emitFilterData($event)"> Night Skiing
      </label>
    </div>
    <div class="btn-group-toggle">
      <label>
        <input type="checkbox" formControlName="open" (change)="emitFilterData($event)"> Open
      </label>
    </div>
  </div>
  <location-selector (locationEvent)="regionSelector($event)"></location-selector>
</div>