<div class="sidebar">
  <div id="sidebar">
    <h5 id="search">
      Search
    </h5>
  </div>
  <div class="resort-size">
    <h6 id="size">
      Resort Size
    </h6>
    <div class="btn-group-toggle">
      <label>
        <input type="checkbox" [(ngModel)]="model.left"> Large
      </label>
    </div>
    <div class="btn-group-toggle">
      <label>
      <input type="checkbox" [(ngModel)]="model.middle"> Medium
      </label>
    </div>
    <div class="btn-group-toggle">
      <label>
        <input type="checkbox" [(ngModel)]="model.right"> Small
      </label>
    </div>
  </div>
  <location-selector></location-selector>
</div>