.main {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(white, #e4effa);
}

.resort-element {
    padding-left: 10px;
    border-bottom: 1px solid #c4ddf7;
    border-left: 3px solid transparent;
}

.resort-element:hover {
    background-color: rgb(231, 243, 255);
    border-left: 3px solid rgb(0, 122, 204);
}

.sidebar {
    padding-right: 0px;
    padding-left: 0px;
    flex: 1 1 0%;
}

.list {
    flex: 5 5 0%;
    min-height: calc(100vh - 52px);
}

.not-found {
    text-align: center;
    padding: 15px 0px;
    font-weight: 300;
    font-size: 25px;
}
