<div class="resort-list row">
  <div class="col-md-2 sidebar">
    <sidebar></sidebar>
  </div>
  <div class="col-md-10 list">
    <div class="title">
      <h4>All Resorts</h4>
    </div>
    <div class="row">
      <div class="col-md-6">
        Location
      </div>
      <div class="col-md-2">
        Lifts/Runs
      </div>
      <div class="col-md-2">
        Terrain
      </div>
    </div>
    <div *ngFor="let resort of resortList" class="resort-element">
      <resort-item [resort]=resort></resort-item>
    </div>
  </div>
</div>