.resort-data {
    margin: 5px;
}

.resort-data-header {
    font-weight: bold;
    font-size: 22px;
}

.resort-data-content {
    padding-top: 20px;
}

.lifts {
    padding-top: 20px;
}

.web-link {
    padding-top: 20px;
}