.resort-data {
    margin: 5px;
}

.resort-data-header {
    font-weight: bold;
    font-size: 22px;
}

.resort-data-content {
    padding-top: 20px;
}

.lifts {
    padding-top: 20px;
}

.web-link {
    padding-top: 20px;
}

#trail-map {
    width: 100%;
    height: 100%;
}

#trail-map-large {
    width: 100%;
    height: 100%;
}

#trail-map-title {
    text-align: center;
}