<div class="side-content" *ngIf="resort">
  <div class="resort-data">
    <div class="resort-data-header">
      Summary
    </div>
    <div class="resort-data-content">
      <div class="status">
        Status: <span [ngClass]="isClosed ? 'closed' : 'opened'">{{isClosed ? "Closed" : "Open"}}</span>
      </div>
      <div class="location">
        <h6>Location: {{resort.location}}</h6>
        <div (click)="redirectToList()" id="region-selector">
          <i class="far fa-arrow-alt-circle-left"></i>
          {{resort.region}}
        </div>
      </div>
      <div class="dates">
        <h6>
          Season: {{resort.season_open}} - {{resort.season_close}}
        </h6>
      </div>
      <div class="trails">
        <h6>Trails: {{resort.total_runs}} Runs</h6>
        <div class="green-runs" *ngIf="resort.green_run_pct > 0">
          <i class="fas fa-circle fa-xs green"></i>
          Green: {{resort.green_run_pct/100 * resort.total_runs | number: '1.0-0'}}
          <ngb-progressbar type="success" [value]="resort.green_run_pct" class="green">{{resort.green_run_pct}}%</ngb-progressbar>
        </div>
        <div class="blue-runs" *ngIf="resort.blue_run_pct > 0">
          <i class="fas fa-square-full fa-xs blue"></i>
          Blue: {{resort.blue_run_pct/100 * resort.total_runs | number: '1.0-0'}}
          <ngb-progressbar type="primary" [value]="resort.blue_run_pct">{{resort.blue_run_pct}}%</ngb-progressbar>
        </div>
        <div class="black-runs" *ngIf="resort.bd_run_pct > 0">
          <i class="fas fa-square-full fa-xs bd"></i>
          Black: {{resort.bd_run_pct/100 * resort.total_runs | number: '1.0-0'}}
          <ngb-progressbar type="secondary" [value]="resort.bd_run_pct">{{resort.bd_run_pct}}%</ngb-progressbar>
        </div>
        <div class="double-runs" *ngIf="resort.double_bd_run_pct > 0">
          <i class="fas fa-square-full fa-xs double-bd"></i>
          <i class="fas fa-square-full fa-xs double-bd"></i>
          Double Black: {{resort.double_bd_run_pct/100 * resort.total_runs | number: '1.0-0'}}
          <ngb-progressbar type="dark" [value]="resort.double_bd_run_pct">{{resort.double_bd_run_pct}}%</ngb-progressbar>
        </div>
      </div>
      <div class="lifts">
        <h6>Total Lifts: {{resort.total_lifts}}</h6>
        <div class="lift-list">
          <div *ngIf="resort.gondolas > 0">
            Gondolas: {{resort.gondolas}}
          </div>
          <div *ngIf="resort.high_speed_quad > 0">
            High Speed Quad Chair: {{resort.high_speed_quad}}
          </div>
          <div *ngIf="resort.high_speed_six > 0">
            High Speed Six Chair: {{resort.high_speed_six}}
          </div>
          <div *ngIf="resort.surface_lift > 0">
            Surface Lift: {{resort.surface_lift}}
          </div>
          <div *ngIf="resort.double_chair > 0">
            Double Chair: {{resort.double_chair}}
          </div>
          <div *ngIf="resort.triple_chair > 0">
            Triple Chair: {{resort.triple_chair}}
          </div>
          <div *ngIf="resort.quad_lift > 0">
            Quad Chair: {{resort.quad_lift}}
          </div>
          <div *ngIf="resort.eight_pers_lift > 0">
            Eight Person Chair: {{resort.eight_pers_lift}}
          </div>
        </div>
      </div>
      <div class="web-link" *ngIf="resortLink">
        <h6>
          <a [href]="resortLink.official_website">{{resort.resort_name}}'s Website</a>
        </h6>
        <div *ngIf="resortMap">
          <h6>
            <a [href]="resortMap[0].$.url">{{resort.resort_name}}'s Trail Map
              <i class="far fa-map"></i>
            </a>
          </h6>
          <img id="trail-map" [src]="resortMap[0].$.url" *ngIf="!opened" (click)="open(content)">
          <ng-template #content let-c="close" let-d="dismiss">
            <img id="trail-map-large" [src]="resortMap[0].$.url">
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>