.navbar {
    background: white;
    padding: 0.25rem 1rem;
}

.navbar-brand {
    color: #20252b;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    font-size: 1.35rem;
    transition: all .2s ease-out;
}

.navbar-brand:hover {
    cursor: pointer;
    transition: all .2s ease-in;
    color: #007bff;
    border-bottom: 2px solid #007bff
}

kendo-dropdownlist {
    border: 2px solid #007bff;
    border-radius: 6px;
}