.navbar {
    background: white;
    padding: 0.25rem 1rem;
}

.navbar-brand {
    color: #20252b;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    font-size: 1.35rem;
    transition: all .2s ease-out;
}

.navbar-brand:hover {
    cursor: pointer;
    transition: all .2s ease-in;
    color: #007bff;
    border-bottom: 2px solid #007bff
}

.navbar-departure {
    display: flex;
    justify-content: flex-end;
    flex: 3 3 0%;
    padding-right: 16px;
}

.starting {
    margin: 16px;
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
}

.starting-location {
    border: 2px solid #5fa9f5;
    border-radius: 6px;
}

.navbar-departure > span {
    padding-left: 5px;
    font-weight: 500;
}

kendo-dropdownlist {
    border: 2px solid #5fa9f5;
    border-radius: 6px;
}