.resort-item {
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
    align-items: center;
    cursor: pointer;
}

#select-resort-button {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex: .5 .5 0%;
}

#select-resort-button:hover {
    cursor: pointer;
}

#name {
    flex: 4 4 0%;
}

#trails, #lift, #terrain, #vertical {
    flex: 1 1 0%;
}

.arrow {
    font-size: 35px;
}

.resort-item:hover > div {
    color: rgb(0, 122, 204);
}