<div class="row resort-item">
  <div class="col-md-6">
    <div>
      {{resort.resort_name}}
    </div>
    <div>
      {{resort.location}}
    </div>
  </div>
  <div class="col-md-2">
    <div>
      Lifts: {{resort.total_runs}}
    </div>
    <div>
      Runs: {{resort.total_lifts}}
    </div>
  </div>
  <div class="col-md-2">
    <div>
      Terrain: {{resort.skiable_terrain}}
    </div>
    <div>
      Vertical: {{resort.vertical_drop}}
    </div>
  </div>
  <div class="col-md-2 select-resort-button">
    <div class="select-resort-button-series">
      <button type="button" class="btn select-resort" (click)="navigateToResort($event)">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>
  </div>
</div>