.resort-item {
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
}

#select-resort-button {
    align-items: center;
    justify-content: center;
    display: flex;
}

#select-resort-button:hover {
    cursor: pointer;
}

#name {
    flex: 4 4 0%;
}

#trails {
    flex: 1 1 0%;
}

#lift {
    flex: 1 1 0%;
}

#terrain {
    flex: 1 1 0%;
}

#vertical {
    flex: 1 1 0%;
}

.arrow {
    font-size: 35px;
}

.resort-item:hover > div {
    color: rgb(0, 122, 204);
}