<div class="resort-item">
  <div id="name">
    <div>
      Name: {{resort.resort_name}}
    </div>
    <div>
      Location: {{resort.location}}
    </div>
  </div>
  <div id="lift">
    <div>
      Trails: {{resort.total_runs}}
    </div>
    <div>
      Lifts: {{resort.total_lifts}}
    </div>
  </div>
  <div id="terrain">
    <div>
      Terrain: {{resort.skiable_terrain}}
    </div>
    <div>
      Vertical: {{resort.vertical_drop}}
    </div>
  </div>
  <div id="select-resort-button" (click)="navigateToResort()">
    <span class="k-icon k-i-arrow-chevron-right arrow"></span>
  </div>
</div>