<div class="home">
  <div class="init">
    <div class="title animated fadeIn">
      <div class="title-header">
        Find Your Perfect Ski Hill
      </div>
      <div class="title-content">
        Plan Logistics
      </div>
      <div class="title-compare">
        Compare Resorts
      </div>
      <div class="title-compare">
        Discover Hidden Mountains
      </div>
    </div>
    <div class="starting">
      <input class="starting-location" kendoTextBox [value]="startingLocation | async" placeholder="Starting Location" (keyup)="alterLocation($event)"
      />
    </div>
  </div>
</div>