<div class="home">
  <div class="title">
    Where Would You Like
  </div>
  <div class="content">
    <div class="usa">
      <div class="rockymtn card">
        <div class="card-body">
          <h5 class="card-title">Rocky Mountains</h5>
          <p class="card-text">The Rocky Mountains, also known as the Rockies, are a major mountain range in western North America. The Rocky
            Mountains stretch more than 3,000 miles (4,800 km) from the northernmost part of British Columbia, in western
            Canada, to New Mexico, in the Southwestern United States.</p>
          <a routerLink="/resortlists" class="resort-link">
            <button class="btn btn-rockymtn resorts">Resorts</button>
          </a>
        </div>
      </div>
      <div class="group-1">
        <div class="northeast card">
          <div class="card-body">
            <h5 class="card-title">Northeast</h5>
            <p class="card-text">The Northeastern United States, also referred to as the American Northeast or simply the Northeast, is a geographical
              region of the United States bordered to the north by Canada.</p>
            <a routerLink="/resortlists" class="resort-link">
              <button class="btn btn-northeast resorts">Resorts</button>
            </a>
          </div>
        </div>
        <div class="midwest card">
          <div class="card-body">
            <h5 class="card-title">Midwest (literally flat)</h5>
            <p class="card-text">The Midwestern United States, also referred to as the American Midwest, Middle West, or simply the Midwest.</p>
            <a routerLink="/resortlists" class="resort-link">
              <button class="btn btn-midwest resorts">Resorts</button>
            </a>
          </div>
        </div>
        <div class="westcoast card">
          <div class="card-body">
            <h5 class="card-title">West Coast</h5>
            <p class="card-text">The West Coast or Pacific Coast is the coastline along which the contiguous Western United States meets the North
              Pacific Ocean.
            </p>
            <a routerLink="/resortlists" class="resort-link">
              <button class="btn btn-westcoast resorts">Resorts</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="others">
      <div class="eu">
        <div class="europe card">
          <div class="card-body">
            <h5 class="card-title">Europe</h5>
            <p class="card-text">Europe Stuff Here BLA BLA BLA</p>
            <a routerLink="/resortlists" class="resort-link">
              <button class="btn btn-europe resorts">Resorts</button>
            </a>
          </div>
        </div>
      </div>
      <div class="south">
        <div class="southern-hemisphere card">
          <div class="card-body">
            <h5 class="card-title">Southern Hemisphere</h5>
            <p class="card-text">Southern Hemisphere BLA BLA BLA</p>
            <a routerLink="/resortlists" class="resort-link">
              <button class="btn btn-south resorts">Resorts</button>
            </a>
          </div>
        </div>
      </div>
      <div class="canada card">
        <div class="card-body">
          <h5 class="card-title">Canada</h5>
          <p class="card-text">Canadian Stuff BLA BLA BLA</p>
          <a routerLink="/resortlists" class="resort-link">
            <button class="btn btn-canada resorts">Resorts</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>