.title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.regions {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.starting {
    margin: 25px;
    display: flex;
}