.home {
    background-image: linear-gradient(white, #c4ddf7);
    height: calc(100vh - 52px);
}

.init {
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: column;
    padding: 15% 5%;
    flex: 1 1 0%;
}

.title-header {
    line-height: 1.2;
    font-size: 40px;
    font-weight: 300;
}